/* Modal */
.modal-overlay{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgb(0,0,0,0.7);
}

.modal-content{
  padding: 40px;
  height: 500px;
  width: 600px;
  position: fixed;
  left: calc((100% - 600px)/2);
  top: calc((100% - 500px)/2);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 1%; 
  letter-spacing: 0.4px;

}
/* Adding Animation */
@keyframes animatetop {
  from {top:-100px; opacity:0} 
  to {top:calc((100%-500px)/2); opacity:1}
}

 .modal-content{
  font-family: "Poppins";
  font-size: 20px;
  }

  .form-heading{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
  }

.input-data{
  width: 100%;
  height: 40px;
  margin: 30px 0;
  letter-spacing: 0.34px;
}

.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  border-bottom: 1px solid #6F718F99;
  outline: none;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #6F718F99;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  color: #6F718F99;
  transition: all 0.3s ease;
}

.consent-statement{
  font-size: 15px;
  color: #616678;
  margin-bottom: 22px;
}

.submit-btn{
  background: #FF3366 0% 0% no-repeat padding-box;
  color: white;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-style:solid;
  border-radius: 8px;
}

/*************************************************/
/***checkbox **/
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 3px solid #FF3366;
}


.customcheck input:checked ~ .checkmark {
    background-color: #FF3366;
    border-radius: 5px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.customcheck input:checked ~ .checkmark:after {
    display: block;
}


.customcheck .checkmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*****************************************************************/
/* company-details-section */

.container {
   max-width: 70% !important;/*Set your own width %; */
}

.company-details-section{
  margin: 100px auto;
}

.company-details{
  margin: auto 0px;
}

.company-industry{
  text-transform: uppercase;
  font-size: 60px;
  text-align: left;
  font-family: "Cormorant SC";
  font-weight: bold;
  margin-bottom: 50px;
}

.contact-btn{
  font-family: 'Cormorant SC';
  font-size: 14px;
  background-color: #FF3147;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 15px 28px;
}

.head-image{
    background-image: url('./static/images/hero@2x.png');
    height: 737px;
    /* width: 487px; */
    border-radius: 1%;
    background-size: cover;
    background-position: center;
    margin-left: 50px;
}

/***********************************************/
/* SERVICES SECTION */
#services-section {
  margin: 100px auto;
}

.img-container {
  position: relative;
  display: inline-block;
  width: calc(33.33% - 28px); 
  margin: 0 14px; 
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 49, 71, 1); 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 1%;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%; /*(100% - 70%)/2  where 70% is the custom container width */
  margin-right: 15%;
  margin-bottom: 40px;
}

.wrapper .carousel {
  font-size: 0px;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 526px;
  cursor: pointer;
  object-fit: cover;
  user-select: none;
  width: 100%; /*Adjust to fit the container */
  /* width: 300px; */
  border-radius: 1%;
}

.dots {
  margin-left: 15%;
}

.dot {
  margin: 0 6px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .img-container {
    width: calc(50% - 28px); /* Adjust width to account for margin */
  }
}

@media screen and (max-width: 550px) {
  .img-container {
    width: calc(100% - 28px); /* Adjust width to account for margin */
    margin: 0 14px; /* Adjust margin for single column layout */
  }
}

.readmore-btn{
  font-family: 'Cormorant SC';
  font-size: 14px;
  font-weight: bold;
  background-color: #F4F4F4;
  color: #FF3147;
  border-radius: 2px;
  padding: 15px 28px;
}



/***********************************************/
/* WHY CHOOSE US SECTION */

#why-choose-us-section{
  margin-bottom: 100px;
  text-align: center;
}

#features-img1{
  width: 72px;
  height: 72px;
  margin-bottom: 20.13px;
}
#features-img2{
  /* height: 64.87px;
  width: 70.01px; */
  width: 72px;
  height: 72px;
  margin-bottom: 20.13px;
}#features-img3{
  /* height: 74.9px;
  width: 68px; */
  width: 72px;
  height: 72px;
  margin-bottom: 20.13px;
}#features-img4{
  /* width: 69.73px;
  height: 69.72px; */
  width: 72px;
  height: 72px;
  margin-bottom: 20.13px;
}

.features-heading{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.col{
  text-align: left;
}

/***********************************************/
/* OUR PROJECT SECTION */
#our-project-section{
  /* margin: 100px auto; */
  margin-bottom: 220px;
  text-align: center;
}
.features-heading{
  font-family: "Cormorant SC";
}

.projects{
  padding: 34px 30px;
  text-align: left;
  background-color: #F6F6F6;
}

#project-1{
  background-color: #FF3147;
  color: #FFFFFF;
}

#project-image1{
  background-image: url(./static/images/img1.png);
  background-size: cover;
  border-radius: 1%;
}

#project-image2{
  background-image: url(./static/images/img2.jpg);
  background-size: cover;
  display: none;
  border-radius: 1%;
}
#project-image3{
  background-image: url(./static/images/img3.jpg);
  background-size: cover;
  display: none;
  border-radius: 1%;
}

.projects:hover{
  cursor: pointer;
}

#project-1:hover, #project-2:hover, #project-3:hover{
  box-shadow: 3px 6px 20px #672C2C1F;
}

/***********************************************/
/*Company Growth section */
#company-growth-section{
  text-align: center;
  margin-bottom: 233px;
}
.figures{
  text-align: center;
}
.figures:hover{
  box-shadow: 3px 6px 20px #672C2C1F;
}
.number-figure{
  font: normal normal 300 60px/65px Poppins;      
  text-transform: uppercase;
  margin-bottom: 10px;
}
.figure-about{
  font: normal normal 300 20px/80px Poppins;
}
.icon{
  margin-top: 34px;
  height: 35.68px;
  /* width: 35.68px; */
  width: auto;
  margin-bottom: 14px;
}

/***********************************************/
/* feedback section */

#feedback-section{
  text-align: center;
  margin-bottom: 100px;
}
.client-feedback{
  font: normal normal normal 20px/34px Poppins;
  text-align: left; 
  /* position:relative; */
}
.client-details{
  position: relative;
  /* display: inline-block; */
  text-align: left;
  padding:0 150px; 
}

.quote-mark{
  position: absolute;
  height: 45px;
  top: 0;
  left: 1;

}

.author{
  text-transform: uppercase;
  font: 20px;
  font-weight: bold;
  font-family: 'Poppins';
  color: #FF3147;
}
.author-company{
  font: normal normal 300 20px/34px Poppins;
  /* font-size: 20px; */
  color: #808080;
}


/***********************************************/
/* footer */
#footer{
  background-image: url('./static/images/NoPath-Copy.png');
  background-color: #FF3147;
  height: 310px ;
  position: relative;
}

#group-500{
  position: absolute;
  background-image: url(./static/images/Group500.png);
  background-repeat: no-repeat;
  height: 56px;
  width: 1170px;
  top: calc((100% - 56px)/2);
  left: calc((100% - 1170px)/2);
}
