.dot {
    cursor: pointer;
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-bottom: 40px;
}

.wrapper .carousel{
  font-size: 0px;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 526px;
  cursor: pointer;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  border-radius: 1%;
}
.carousel img:first-child{
  margin-left: 0px;
}


@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}